{% extends 'products/base.html' %} {% block content%}
<br></br>

<div class = "container">
  <h1 class= "text-center">ITEMS IN STOCK</h1>
  <br>

  <div class = "container">
    <form action = "" method = "GET">
      {{product_filters.form}}
      <input 
      type = "submit"
      value = "Search Products"
      class="btn btn-secondary btn"/>
    </form>
  </div>

  <br>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price(UGX)</th>
        <th scope = "col">Buy Item</th>
        <th scope = "col">Delete</th>
        
      </tr>
    </thead>
    {% for product in products%}
    <tbody>
      <tr>    
        <td>{{product.category_name}}</td>
        <td>{{product.item_name}}</td>
        <td>{{product.total_quantity}}</td>
        <td>UGX{{product.unit_price}}</td>
        <td><a href="{% url 'product_detail' product.id %}"
              ><svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" fill="black" class="bi bi-bag-fill" viewBox="0 0 16 16">
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
              </svg></a></td>
            <td><a href="{% url 'delete_detail' product.id %}"
              ><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="black" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
              </svg></a></td>
            
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock%}